---
import Layout from '../layouts/Layout.astro';
import { Image, Picture } from '@astrojs/image/components';
import mainCourseData from "../data/mainCourseData";
import pregnancyCourseData from "../data/pregnancyCourseData"

const { title = "Over Mij" } = Astro.props
---

<Layout title={title}>
	<div class="my-20">
		
		<h1 class="text-4xl text-center font-bold px-8 md:px-16mb-4">Over mij</h1>
		
		<p class="text-xl text-center max-w-screen-lg mx-auto px-8 md:px-16">Vanuit mijn sterke interesse voor sport en beweging koos ik voor de opleiding <span class="font-bold">kinesitherapie</span>, dewelke ik in 2013 met succes afrondde. Met reeds <span class="font-bold">8 jaar ervaring</span> in ziekenhuis en verschillende praktijken, startte ik in september 2021 mijn eigen praktijk te Kortemark: <span class="font-bold" >MOOV Kine</span>.</p>
		
		<div class="wrapper h-96 md:mx-16 my-20">
			<Image src={"/img/overmij.jpg"} alt="foto van een behandeling" format={"webp"} width={1312} height={644} class="introphoto h-96 w-full object-cover object-center" />
		</div>
		
		<p class="text-xl text-center max-w-screen-lg mx-auto px-8 md:px-16 mb-4">Als kinesitherapeute heb ik een specifieke interesse in <span class="font-bold">sportrevalidatie</span>, <span class="font-bold">manuele therapie</span> en <span class="font-bold">myofasciale therapie</span>. Als mama van 2 flinke zonen, heb ik ook een grote interesse in alles wat te maken heeft met zwanger zijn, bevallen en het herstel na een bevalling. Je kan bij mij dus ook terecht voor <span class="font-bold">zwangerschapsbegeleiding</span>.</p>
		
		<p class="text-xl text-center max-w-screen-lg mx-auto px-8 md:px-16 mb-4">Hieronder vindt u een overzicht van de <span class="font-bold">opleidingen &amp; bijscholingen</span> die ik reeds volgde:</p>
		
		<div class="text-left px-8 md:px-16 mb-4">
			<ul class="text-base py-4 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-4 md:gap-x-4 md:items-stretch">
				{mainCourseData.map((course) =>
					<li class="block p-4 border border-slate-200 bg-slate-50 rounded">
						<span class="block pb-2 font-medium">{course.title}</span>
						<span class="block text-sm text-slate-500">({course.year}, {course.school})</span>
					</li>
				)}
			</ul>
		</div>
		
		<p class="text-xl text-center max-w-screen-lg mx-auto px-8 md:px-16 mb-4">Zwangerschapsbegeleiding (verschillende opleidingen, 2013-heden)</p>
		
		<div class="text-left px-8 md:px-16">
			<ul class="text-base py-4 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-4 md:gap-x-4 md:items-stretch">
				{pregnancyCourseData.map((course) =>
					<li class="block p-4 border border-slate-200 bg-slate-50 rounded">
						<span class="block pb-2 font-medium">{course.title}</span>
						<span class="block text-sm text-slate-500">({course.year}, {course.school})</span>
					</li>
				)}
			</ul>
		</div>
	</div>
</Layout>

<style>
/* Styles */
</style>

<script>
	import simpleParallax from 'simple-parallax-js';
	
	const image = document.getElementsByClassName('introphoto');
	new simpleParallax(image, {
		scale: 1.2,
		customWrapper: '.wrapper',
	});
</script>